/bin/
/build/
/*.exe
/*.exe~
/*.dll
/*.so
/*.dylib

/vendor/

/.module-cache/

.idea/
.vscode/

*.log

*.out
*.test

*.env

.DS_Store

docker-compose.yaml
setup.sh

**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
*.auto.tfvars
*.tfplan
*.tflock
*.tf.backup